* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2em;
    background-color: rgba(54, 189, 230, 0.192);
    padding: 1rem;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
}

#title{
    margin: 1rem;
}

#description{
    margin: 0 0 0.5rem 0;
}

form div{
    margin: 0.5rem 0;
}

textarea{
    display: block;
}

label{
    font-size: 1.2rem;
}

input{
    padding: 0.5rem;
    margin: 0.2rem 0;
}

button{
    padding: 0.5rem 1.5rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

textarea{
    resize: none;
    width: 100%;
    padding: 1rem;
}